
@media only screen and (max-width: 768px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    header nav{
        display: block;
        gap: 2rem;
        margin-left: 0rem;
    }
    .div-menu{
        gap: 0rem;
    }
    .section-content{
        flex-direction: column;
    }
    .section-content1{
        flex-direction: column;
    }
    .content{
        padding: 0;
    }
    .content-meio{
        padding: 0;
    }
    #section-footer{
        flex-direction: column;
    }
    .div-img-final{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #section-footer img{
        margin-left: 0;
    }
    .div-column{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        columns: 2;
    }
    .div-column-final{
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    form{
        align-items: center;
        justify-content: center;   
        flex-direction: row;
    }
}

@media only screen and (max-width: 2057.1px){
    #section-container::after{
        display: none;
        height: 100%;
    }
    #section-container{
        filter: brightness(50%);
        z-index: 9999;
    }
}